<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>


<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <td>
        <h3>Bonjour {{user.prenom}},</h3>
        Nous avons reçu une demande de réinitialisation de votre mot de passe.<br>
        Cliquez simplement sur ce lien pour créer un nouveau mot de passe:<br><br>
        <a href="{{url}}">Cliquer ici pour réinitialiser votre mot de passe !</a><br><br>
        Si vous n'avez pas demandé un changement de mot de passe, ne vous inquiétez pas. Votre mot de passe est toujours sûr et vous pouvez supprimer ce courriel.
    </td>
    </tr>
    </tbody>
</table>

</html>


