<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>


<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <td>
        <h3>Bonjour {{user.prenom}},</h3>
        Un compte d'administration pour le site web de la mairie de ... viens d'être ouvert à cette adresse mail.<br>
        Veuillez contacter l'administrateur du site pour connaître les modalités de connexion.
    </td>
    </tr>
    </tbody>
</table>

</html>