<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>


<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <td>
        <h3>Bonjour,</h3>
        Nous avons reçu une demande d'inscription à la newsletter de la mairie de ....<br>
        Cliquez simplement sur ce lien pour confirmer votre inscription<br><br>
        <a href="{{url}}">Cliquer ici pour confirmer</a><br><br>
    </td>
    </tr>
    </tbody>
</table>

</html>