{% extends 'base.html.twig' %}

{% block title %}Plan du site | Ville de {{nom_mairie}}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid container-xl my-5 text-center" style="height: 250px;">
       <h3 class="font-weight-bold" style="color: black;">En Construction.</h3>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}    