{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {#<div class="container-fluid">
        <iframe src="https://login.mailchimp.com" frameborder="0"></iframe>
    </div>#}
{% endblock %}